@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    width: 100%;
    margin: 0 auto;
}
.header-logo{
    width: 89px;
    height: 78px;
    margin-top: 4px;
    margin-right: 180px;
    margin-bottom: 3px;
    margin-left: 34px;
    border-radius: 41px;
}
.header{
    display: flex;
    background-color: #833AE0;
    border: 1px solid #D2AFF6;
    height: 85px;
    margin: 0 auto;
}
.header-information{
    display: flex;
    justify-content: space-between;
    color: #FDFDFD;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 27px;
    margin-bottom: 36px;
    margin-left: 153px;
    padding-left: 0;
    width: 844px;
    height: 22px;
}

.button-in{
    width: 113px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #833AE0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 24px;
    margin-left: 153px;
}
.main{
    height: 401px;
    background: #F9E95A;
    border: 1px solid #EECD5B;
    box-sizing: border-box;
    display: flex;
}
.user-from{
    display: block;
}
input[type=text]::-webkit-input-placeholder {
    color: #C4C4C4;
}
input[type=number]::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: 15px;
    line-height: 18px;
}
.target-name{
    width: 476px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 92px;
    margin-right: 127px;
    margin-bottom: 13px;
    margin-left: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #7846D8;
    border: none;
    outline: none;
}
.first-input{
    display: flex;
    margin-left: 120px;
}
.first-label, .second-label, .three-label, .four-label{
    display: flex;
    background-color: #FFFFFF;
    width: 222px;
    height: 50px;
    border-radius: 5px;
    padding-top: 1px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #7846D8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-right: 1px;
}
.required-amount, .starting-amount, .deposit-term{
    width: 150px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
    color: #7846D8;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 15px;
    padding-left: 6px;
}
.deposit-percentage{
    width: 173px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
    color: #7846D8;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 15px;
    padding-left: 6px;
}
.second-label, .four-label{
    margin-left: 34px;
}
.second-input{
    display: flex;
    margin-left: 120px;
    margin-top: 10px;
}
.calculate-button{
    width: 203px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    color: #7846D8;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    text-align: center;
    margin-top: 28px;
    margin-right: 391px;
    margin-bottom: 76px;
    margin-left: 120px;
}
.h1-h2{
    width: 685px;
    height: 220px;
    margin-top: 80px;
    margin-right: 29px;
    margin-bottom: 122px;
}
.h1-in-header{
    width: 677px;
    height: 124px;
    font-size: 55px;
    line-height: 64px;
    color: #833AE0;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.h2-in-header{
    width: 663px;
    height: 43px;
    font-size: 35px;
    line-height: 41px;
    color: #833AE0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* начало классов js */
.target-card{
    width: 573px;
    height: 288px;
    margin-top: 70px;
    margin-right: 182px;
    margin-bottom: 99px;
    margin-left: 149px;
}
.inp-target{
    width: 260px;
    height: 45px;
    margin-top: 6px;
    margin-right: 22px;
    margin-bottom: 17px;
    /* margin-left: 149px; */
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #833AE0;
    font-family: "Roboto", sans-serif;
}
.div-treb-sum, .div-start-sum, .div-srok-vyplati, .div-precent-vklad, .div-interest-income, .div-payment    {
    display: flex;
}
.treb-sum, .srok-vyplati, .start-sum, .precent-vklad, .interest-income{
    width: 226px;
    height: 30px;
    font-size: 24px;
    line-height: 28px;
    color: #833AE0;
    font-family: "Roboto", sans-serif;
    margin-top: 17px;
    margin-right: 14px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0;
}
.payment{
    width: 388px;
    height: 37px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #833AE0;
    margin-top: 20px;
    margin-right: 9px;
    margin-bottom: 71px;
    margin-left: 53px;
    font-family: "Roboto", sans-serif; 
}
.item-payment-amount{
    width: 925px;
    height: 30px;
    color: #B33263;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.item{
    /* font-family: "Roboto", sans-serif; 
    width: 925px;
    height: 30px;
    margin-right: 60px;
    margin-bottom: 12px;
    margin-left: 353px;
    color: #704AAE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    justify-content: space-between; */
    margin-left: 53px;
}
.item-end{
    padding-bottom: 20px;
}
.inp-payment-amount{
    margin-left: 190px;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 30px;
    color: #B33263;
    width: 220px;
    background-color: #E6E6FA;
}
.inp-required-amount{
    margin-left: 0px;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #F17A04;
    text-align: end;
    margin-right: 10px;
}
.inp-term-of-deposit{
    margin-left: 0;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
    width: 190px;
    text-align: end;
    margin-right: 10px;
}
.inp-starting-amount{
    margin-left: 0;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
    width: 190px;
    text-align: end;
    margin-right: 10px;
}
.inp-percent{
    margin-left: 0;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
    width: 190px;
    text-align: end;
    margin-right: 10px;
}
li{
    list-style-type: none;
}
p{
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 11px;
    margin-left: -305px;
    height: 0px;
}
ul{
    margin-left: 515px;
}
.income{
    margin-left: 140px;
    margin-top: -9px;
}
.income-item{
    margin-top: -5px;
}
.interest-income{
    margin-top: -15px;
}
.delete-botton{
    margin-left: 651px;
    margin-top: 18px;
    margin-bottom: 17px;
    font-family: "Roboto", sans-serif; 
    outline: none;
    border: none;
    color: #000;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: #D8BFD8;
}