@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    width: 1338px;
    margin: 0 auto;
}

.header{
    display: flex;
    background-color: #9D3CE5;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 174px;
    margin: 0 auto;
    border: 3px solid #9D3CE5;
}

.headlines-in-header{
    display: block;
    color: #FDFDFD;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 39px;
}

.h1-in-header{
    width: 898px;
    height: 69px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 6px;
    margin-top: 0px;
    margin-right: 215px;
    font-size: 48px;
}

.h2-in-header{
    width: 663px;
    height: 43px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
}

.header-logo{
    width: 109px;
    height: 94px;
    margin-top: 34px;
    margin-right: 74px;
    margin-bottom: 46px;
    margin-left: 0px;
}

.main{
    background-color: #FFFFFF;
    border: 3px solid #9D3CE5;
    width: 1338px;
    margin: 0 auto;
}

.user-from-div{
    display: flex;
}

.left-inputs{
    display: block;
    width: 928px; 
}

.target-text, .required-amount-text, .term-of-deposit, .percent, .starting-amount-text{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #704AAE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.target-text{
    width: 178px;
    height: 24px;
    line-height: 21px;
    margin-top: 40px;
    margin-right: 744px;
    margin-bottom: 7.84px;
    margin-left: 394px;
    font-size: 25px;
}

.target-name{
    width: 928px;
    height: 33.16px;
    background-color: #DBC2F3;
    border: 1px solid #000000;
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: #800080;
    margin-right: 390px;
    margin-bottom: 21px;
    margin-left: 20px;
    box-sizing: border-box;
}

.bottom-margins{
    display: flex;
}

.required-amount-text{
    width: 166px;
    height: 21px;
    line-height: 21px;
    margin-right: 55px;
    margin-bottom: 7px;
    margin-left: 39px;
}

.required-amount, .deposit-term, .deposit-percentage, .starting-amount{
    width: 200px;
    height: 30px;
    background-color: #DBC2F3;
    border-radius: 20px;
    border: 1px solid #000000;
    outline: none;
    color: #800080;
    font-size: 20px;
    padding-left: 15px;
    margin-right: 32px;
    margin-bottom: 139px;
    margin-left: 21px;
    box-sizing: border-box;
    padding-right: 60px;
    padding-top: 3px;
}

.required-amount-div{
    display: flex;
    height: 27px;
}

.rub{
    margin-top: 0px;
    padding-right: 10px;
    margin-left: -80px;
    font-size: 20px;
    color: #800080;
    padding-top: 3px;
}

.percent-icon{
    margin-top: 1px;
    padding-right: 10px;
    margin-left: -67px;
    font-size: 20px;
    color: #800080;
    padding-top: 3px;
}

.term-of-deposit{
    width: 153px;
    height: 21px;
    margin-right: 71px;
    margin-bottom: 7px;
    margin-left: 41px;
}

.percent{
    width: 196px;
    height: 21px;
    margin-right: 45px;
    margin-bottom: 7px;
    margin-left: 23px;
}

.starting-amount-text{
    width: 196px;
    height: 21px;
    margin-right: 136px;
    margin-bottom: 7px;
    margin-left: 24px;
}

.label-button{
    margin-top: 100px;
    margin-right: 39px;
    margin-bottom: 168px;
    margin-left: 125px;
}

.calculate-button{
    width: 226px;
    height: 58px;
    font-size: 36px;
    line-height: 42px;
    font-family: "Roboto", sans-serif;  
    color: #5A1186;
    background-color: #6BD96A;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

label{
    width: 241px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.item-payment-amount{
    font-family: "Roboto", sans-serif; 
    width: 925px;
    height: 30px;
    margin-right: 60px;
    margin-bottom: 0px;
    margin-left: 353px;
    color: #B33263;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.item{
    font-family: "Roboto", sans-serif; 
    width: 925px;
    height: 30px;
    margin-right: 60px;
    margin-bottom: 12px;
    margin-left: 353px;
    color: #704AAE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    justify-content: space-between;
}

.item-end{
    padding-bottom: 20px;
}

.inp-payment-amount{
    margin-left: 190px;
    margin-top: -47px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 30px;
    color: #B33263;
    width: 220px;
    background-color: #E6E6FA;
}

.inp-target{
    margin-left: 203px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
}

.inp-required-amount{
    margin-left: 175px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
}

.inp-term-of-deposit{
    margin-left: 213px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
}

.inp-starting-amount{
    margin-left: 180px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
}

.inp-percent{
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 25px;
    color: #704AAE;
    background-color: #E6E6FA;
}

li{
    list-style-type: none;
}

p{
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 11px;
    margin-left: -305px;
}

/* ul{
    margin-left: 515px;
} */

.target-card{
    background-color: #E6E6FA;
    width: 768px;
    border-radius: 15px;
}

.payment{
    padding-top: 12px;
}

.income{
    margin-left: 90px;
    margin-top: -40px;
}

.income-item{
    margin-top: -5px;
}

.interest-income{
    margin-top: -15px;
}

.delete-botton{
    margin-left: 651px;
    margin-top: 18px;
    margin-bottom: 17px;
    font-family: "Roboto", sans-serif; 
    outline: none;
    border: none;
    color: #000;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: #D8BFD8;
}

.chart-wrapper {
    width: 320px;
    height: 330px;
   display: flex;
    
  }

.showContent{
    display: flex;
} 
.hidden {
    display: none;
}
.chart-wrapper-container {
    display: flex;
}
/* #myChart {
    width: 0px;
    height: 0px;
} */
.new-wrapper {
    display: flex;
}