@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  width: 1440px;
  margin: 0 auto;
}
.header-logo {
  width: 89px;
  height: 78px;
  margin-top: 3px;
  margin-right: 153px;
  margin-bottom: 3px;
  margin-left: 50px;
}
.header {
  display: flex;
  background-color: #833ae0;
  border: 1px solid #d2aff6;
  height: 85px;
  margin: 0 auto;
}
.header-information {
  display: flex;
  justify-content: space-between;
  color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 27px;
  margin-bottom: 36px;
  margin-left: 0;
  padding-left: 0;
  width: 844px;
  height: 22px;
}

.li-header:hover {
    color: #eecd5b;
}

.button-in {
  width: 113px;
  height: 41px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  border: none;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 24px;
  margin-left: 153px;
}
.main {
  height: 401px;
  background: #f9e95a;
  border: 1px solid #eecd5b;
  box-sizing: border-box;
  display: flex;
}
.user-from {
  display: block;
}
input[type="text"]::-webkit-input-placeholder {
  color: #c4c4c4;
}
input[type="number"]::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 15px;
  line-height: 18px;
}
.target-name {
  width: 476px;
  height: 39px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 92px;
  margin-right: 127px;
  margin-bottom: 13px;
  margin-left: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #7846d8;
  border: none;
  outline: none;
}
.first-input {
  display: flex;
  margin-left: 120px;
}
.first-label,
.second-label,
.three-label,
.four-label {
  display: flex;
  background-color: #ffffff;
  width: 222px;
  height: 50px;
  border-radius: 5px;
  padding-top: 1px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #7846d8;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-right: 1px;
}
.required-amount,
.starting-amount,
.deposit-term {
  width: 150px;
  height: 24px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #7846d8;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 10px;
}
.deposit-percentage {
  width: 173px;
  height: 24px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  color: #7846d8;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 10px;
}
.second-label,
.four-label {
  margin-left: 34px;
}
.second-input {
  display: flex;
  margin-left: 120px;
  margin-top: 10px;
}
.calculate-button {
  width: 203px;
  height: 43px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #7846d8;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  text-align: center;
  margin-top: 28px;
  margin-right: 391px;
  margin-bottom: 76px;
  margin-left: 120px;
}
.h1-h2 {
  width: 685px;
  height: 220px;
  margin-top: 80px;
  margin-right: 29px;
  margin-bottom: 122px;
}
.h1-in-header {
  width: 677px;
  height: 124px;
  font-size: 55px;
  line-height: 64px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.h2-in-header {
  width: 663px;
  height: 43px;
  font-size: 35px;
  line-height: 41px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* начало классов js */
.target-card {
  width: 573px;
  height: 288px;
  margin-top: 30px;
  margin-right: 182px;
  margin-bottom: 99px;
  margin-left: 82px;
  padding: 0;
}

.inp-target {
  background-color: transparent;
  width: 260px;
  height: 45px;
  margin-top: 6px;
  margin-right: 22px;
  margin-bottom: 17px;
  /* margin-left: 149px; */
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
}
.interest-income {
  width: 230px;
  height: 30px;
  font-size: 24px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-right: 14px;
  margin-left: 0px;
  padding-top: 14px;
}

.treb-sum {
  width: 226px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin-top: 17px;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0;
}
.srok-vyplati {
  width: 226px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin-top: 17px;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0;
}

.start-sum {
  width: 226px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin-top: 17px;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0;
}
.block-item {
  height: 53px;
  display: flex;
}

.payment {
  width: 327px;
  height: 37px;
  font-weight: 500;
  font-size: 28px;
  line-height: 29px;
  color: #833ae0;
  margin-top: 20px;
  margin-right: 9px;
  margin-bottom: 71px;
  margin-left: 53px;
  font-family: "Roboto", sans-serif;
}
.precent-vklad {
  width: 226px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #833ae0;
  font-family: "Roboto", sans-serif;
  margin-top: 17px;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 0;
}
.item-payment-amount {
  width: 925px;
  height: 30px;
  font-size: 30px;
}

.item {
  margin-left: 53px;
}
.item-end {
  padding-bottom: 20px;
}
.inp-payment-amount {
  background-color: transparent;
  margin-left: 18px;
  margin-top: 27px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 30px;
  color: #f17a04;
  width: 300px;
  font-weight: 700;
  font-size: 25px;
  text-align: end;
  font-family: "Roboto", sans-serif;
}

.inp-required-amount {
  background-color: transparent;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #f17a04;
  text-align: end;
  margin-right: 10px;
  width: 200px;
}
.segment {
  font-family: "Roboto", sans-serif;
  margin-left: 0px;
  height: 30px;
  font-size: 22px;
  line-height: 28px;
  color: #f17a04;
}
.inp-term-of-deposit {
  background-color: transparent;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #f17a04;
  text-align: end;
  margin-right: 10px;
  width: 200px;
}
.inp-starting-amount {
  background-color: transparent;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #f17a04;
  text-align: end;
  margin-right: 10px;
  width: 200px;
}
.inp-percent {
  background-color: transparent;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #f17a04;
  text-align: end;
  margin-right: 10px;
  width: 200px;
}

li {
  list-style-type: none;
}
p {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top: 11px;
  margin-left: -305px;
  height: 0px;
}
ul {
  margin-left: 515px;
}
.income {
  font-family: "Roboto", sans-serif;
  margin-left: 0px;
  margin-bottom: 5px;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #f17a04;
  text-align: end;
  margin-right: 10px;
  width: 235px;
  margin-top: -9px;
}
.income-item {
  margin-top: -5px;
}
.interest-income {
  margin-right: 75px;
  margin-top: -15px;
}
.delete-botton {
  position: absolute;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  width: 93px;
  height: 22px;
  font-size: 10px;
  background-color: #833ae0;
  left: 510px;
}

.chart-wrapper {
  width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-left: 100px;
}

.hidden {
  display: none;
}

.new-wrapper {
  height: 549px;
  margin-bottom: 105px;
  display: flex;
  background: url(/image/Background.svg) no-repeat;
}

